body {
  background-color: ghostwhite;
}

header svg:hover {
  fill: #0d6efd;
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: #212529;
  cursor: default;
}

header a:hover {
  color: #212529;
}
header {
  align-items: center;
  /* Si queremos eliminar la linea blanca de la navbar borrar margin-bottom */
  margin-bottom: 20px;
}
.logo_argprograma {
  width: 96px;
  height: 32px;
  background-color: #212529;
}
nav ul {
  margin-bottom: 0px;
  padding-left: 0px;
}
nav li {
  display: inline-block;
  padding: 0px 8px 0px;
}

.iconosnav svg {
  margin-right: 12px;
}
/* Aparezca que es cada icono cuando :hover sobre ellos */
rect {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.banner-container {
  background-color: rgba(215, 215, 221, 0.13);
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.homebutton {
  display: flex;
  align-items: center;
}

.homebutton svg:hover {
  fill: #0d6efd;
  cursor: pointer;
}

#banner {
  width: 45%;
  height: 45%;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 50%;
  height: 50%;
}

.profile-text {
  padding-top: 10px;
  text-align: center;
}
.bold {
  font-weight: 600;
}

.acerca-text {
  padding-top: 20px;
}

#test {
  background-color: #212529;
  align-items: center;
}

.tools-edit svg:hover {
  cursor: pointer;
  fill: #0d6efd;
}
.tools-edit svg {
  margin: 0px 6px 0px;
}

.grey-container {
  background-color: rgba(215, 215, 221, 0.13);
}

.title-row {
  padding-left: 6%;
}

.img-container {
  display: flex;
  align-items: center;
}

.img-inside-container {
  width: 40%;
  height: 22.5%;
  vertical-align: middle;
}

/* TODO list */
/* 
-Crear dividor asi remplazamos el mb del header y asi podemos poner la navbar fija.
-Hacer transicion de svg (linkedin, github) también de logo_argprograma mas suave.
-getwaves.io footer de olas
-https://app.haikei.app/
*/
